<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        canvas{
            position: absolute;
            z-index: -1;
        }
    </style>
</head>
<body>
    <canvas id="canvas"></canvas>
    <button onclick="showHideHelpList()">show/hide help list</button>
    <ul id="helpList">
        <li>move around: a, d</li>
        <li>change gun angle: s, w</li>
        <li>turn on camera: c</li>
        <li>move camera around: a, d, s, w</li>
        <li>turn off camera: space</li>
        <li>fire: f</li>
    </ul>
    <script src="../src/characters/bullet1.js"></script>
    <script src="../src/characters/gun1.js"></script>
    <script src="../src/inputEvent/movements.js"></script>
    <script src="../src/collisions.js"></script>
    <script src="../src/maps/texture.js"></script>
    <script src="../src/maps/map1.js"></script>
    <script src="../src/characters/char.js"></script>
    <script src="../src/camera.js"></script>
    <script src="../src/inputEvent/keyEvent.js"></script>
    <script src="../src/inputEvent/fireEvent.js"></script>
    <script src="../src/gameController.js"></script>
    <script src="../src/main.js"></script>
</body>
</html>