<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <canvas id="canvas"></canvas>
    <script src="../src/inputEvent/movements.js"></script>
    <script src="../src/collisions.js"></script>
    <script src="../src/maps/texture.js"></script>
    <script src="../src/maps/map1.js"></script>
    <script src="../src/characters/char1/char1.js"></script>
    <script src="../src/camera.js"></script>
    <script src="../src/inputEvent/allKeyEvent.js"></script>
    <script src="../src/gameController.js"></script>
    <script src="../src/main.js"></script>
</body>
</html>